body{

font-family:Arial;
margin:0;
background:#0f172a;
color:white;

}

.navbar{

display:flex;
justify-content:space-between;
padding:20px;
background:#020617;

}

.hero{

height:300px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:linear-gradient(45deg,#0ea5e9,#9333ea);

}

.products{

padding:40px;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;

}

.product{

background:#020617;
padding:20px;
border-radius:10px;
text-align:center;

}

.product img{

width:100%;

}

button{

padding:10px;
border:none;
background:#22c55e;
color:white;
cursor:pointer;

  }
